<ul class="posts">
    {% for post in posts %}
        <div class="well big">
            <div class="post">
                <div class="post-thumbnail">
                    <a href="{{ url_for('.user',username=post.author.username) }}">
                        <img{% if post.author %} class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=30)}}"{% endif %} >
                    </a>
                </div>
                <div class="post-content">
                    <div class="post-title text-center">
                        <a href="{{ url_for('.post',id=post.id) }}">
                            <h3>{{ post.head }}</h3>
                        </a>
                    </div>
                    <div class="post-date">
                        <small>发布:{{ moment(post.timestamp).fromNow() }} <br>
                            分类:<a href="{{ url_for('.category',id=post.category_id) }}">{{ post.category.category }}</a></small>
                    </div>
                    <div><small>作者:<a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a><br>
                    阅读量:{{ post.visits }}</small></div>
                    <br><br>
                    <div class="post-body text-center">
                        {% if post.body_html %}
                            {% if post.body_html[200] %}
                                {{ post.body_html[0:200]|safe }}......
                            {% else %}
                                {{ post.body_html|safe }}
                            {% endif %}
                        {% else %}
                            {% if  post.body[200] %}
                                {{ post.body[0:200] }}......
                            {% else %}
                                {{ post.body }}
                            {% endif %}
                        {% endif %}
                    </div>
                    <br><br>
                    <div class="post-footer">
                        <a href="{{ url_for('.post',id=post.id) }}">
                            <span class="label label-success">阅读全文</span>
{#                            <button class="sm">阅读全文</button>#}
                        </a>
                        {% if current_user==post.author %}
                            <a href="{{ url_for('.edit',id=post.id) }}">
                                <span class="label label-primary">编辑</span>
                            </a>
                            <a href="{{ url_for('.delete_post',id=post.id) }}">
                                <span class="label label-danger">删除</span>
                            </a>
                        {% elif current_user.is_administrator() %}
                            <a href="{{ url_for('.edit',id=post.id) }}">
                                <span class="label label-danger">编辑 [管理员]</span>
                            </a>
                            <a href="{{ url_for('.delete_post',id=post.id) }}">
                                <span class="label label-danger">删除 [管理员]</span>
                            </a>
                        {% endif %}
{#                        <a href="{{ url_for('.post',id=post.id) }}">#}
{#                            <span class="label label-default">链接</span>#}
{#                        </a>#}
                        <a href="{{ url_for('.post',id=post.id) }}#comments">
                            <span class="label label-primary">
                                {{ post.comments.count() }}评论
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
 </ul>