{% extends"bootstrap/base.html" %}

{% block title %}Kuwe - Blog{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='blog.css') }}" charset="utf-8">
    <style type="text/css">body{background-color:lightyellow}div.well{background-color:khaki}</style>
{#    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" charset="utf-8">#}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}"><b>Kuwe</b> Blog</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li> <a href="{{ url_for('main.index') }}">Home</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('main.new_article') }}">Write</a></li>
                    <li><a href="{{ url_for('main.user',username=current_user.username) }}">Profile</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                         <img src="{{ current_user.gravatar(size=18) }}"> {{ current_user.username }} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                        </ul>
                     </li>
                {% else %}
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 blog-main">
                {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                </div>
                {% endfor %}

                {% block page_content %}{% endblock %}
            </div>
            <div class="col-sm-3 col-sm-offset-1 blog-sidebar text-left">
                <div class="sidebar-module sidebar-module-inset text-center">
                    <h4>关于我</h4>
                    <hr>
                    <img src="../static/python.jpg" width="200" height="200" alt="Kuwe">
                    <br><br>
                    <p style="font-size: 25px;font-family: 华文隶书">Life is short,I use python</p>
                </div>
                <div class="sidebar-module">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>热门文章</h4>
                        </div>
                        <div class="panel-body">
                            <ol class="list-unstyled">
                                {% for post in g.hotpost[0:5] %}
                                    {% if post %}
                                        <li><a href="{{ url_for('main.post',id=post.id) }}">{{ post.head }}</a><span class="badge" style="float: right">{{ post.visits }}</span></li>
                                    {% endif %}
                                    <br>
                                {% endfor %}
                             </ol>
                        </div>
                    </div>
                </div>
                <div class="sidebar-module">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>分类</h4>
                        </div>
                        <div class="panel-body">
                            <ol class="list-unstyled">
                                {% for category in g.categorys %}
                                    <li><a href="{{ url_for('main.category',id=category.id) }}">{{ category.category }}</a><span class="badge" style="float: right">{{ category.posts.count() }}</span></li>
                                    <br>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="sidebar-modulem">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>相关链接</h4>
                        </div>
                        <div class="panel-body">
                            <ol class="list-unstyled">
                                <li><a href="https://www.github.com">Github</a></li>
                                <br>
                                <li><a href="http://www.csnd.com">CSDN</a></li>
                                <br>
                                <li><a href="http://www.jianshu.com">简书</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang('zh-CN') }}
{% endblock %}



